PROJECT_NAME=
COMPOSE_PROJECT_NAME=${PROJECT_NAME}
NODE_VERSION=22

MAIN_PORT=36363


POSTGRES_PORT=31842
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_MULTIPLE_DATABASES=main
POSTGRES_EXTENSIONS=
